
<!DOCTYPE html>
{% load static %}
<html>
<head>



<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/hp.min.ce1101c9d.css' %}" type="text/css" media="all" />
	


<script type="text/javascript">
                            if(document.getElementById('srpPage') == null){
if(typeof googleGaFlag=="undefined"){googleGaFlag=true;var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-224016-1']);_gaq.push(['_setDomainName','..com']);_gaq.push(['_trackPageview']);(function(){var e=document.createElement('script');e.type='text/javascript';e.async=true;e.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';var t=document.getElementsByTagName('script')[0];t.parentNode.insertBefore(e,t);})();}
}
</script>

</head> 
<body     class="homePageCtrl " onload="_load();" onclick="checkiPad()" style="min-height:700px;"> 

<div id="dim_bg"></div>
<div id="BG_Banner" data-bid="17039" data-pid="0" data-rc="R" data-bt="D"  class="boxSize fullbg"><div id="bg_fade" class="Fadebg"></div>    
<div  id='header1'>
<input type='hidden' value='7' id='INTL_MOB_LENGTH'>
<input type='hidden' value='30316db1c9aa1fa00582b128de16681304e50e37' id = "__utid">
<div class="boxSize" id="HeaderStickyHandler">
 
</div>			
<div class="clr"></div>
</div>
<section id="search-bar-Bg" class="boxSize">

    <form id='res_form' method='post' novalidate search_type='PROPERTY' class='chkradCustom' action='/do/quicksearch/search' name='search_form'>
        <input name="budget_min" value="" class="hiddenrel" id="budget_min" type="hidden" nameinerr='Min Budget'/>
        <input name="budget_max" value="" class="hiddenrel" id="budget_max" type="hidden" nameinerr="Max Budget" />
        <input name="tenant_pref" value="" class="hiddenrel" id="available_for" type="hidden" />
        <input name="sharing" value="" class="hiddenrel" id="sharing" type="hidden" />
        <input type="hidden" class='hiddenrel' name="search_type" value ="QS"/>
        <input type="hidden" class='hiddenrel' name="refSection" value ="GNB"/>
        <input type="hidden" class='hiddenrel' name="search_location" value ="HP"/>
        <input type="hidden" class='hiddenrel' name=lstAcn value='HP_R'/>
        <input type="hidden" class='hiddenrel' name=lstAcnId value='0'/>
        <input type="hidden" class='hiddenrel' name=src id="src" value="L5"/>
        <input name="preference" id="preference" class="hiddenrel" type="hidden" value='S'/>
                <input name="selected_tab" id="selected_tab" class="hiddenrel" type="hidden" value='1'/>
        <input name="city" id="city" type="text" class="hiddenrel hide city"  required='true' nameinerr='City' focus='city_wrap_a'  customizedErrClass='custErr'/>
        <input type="hidden" id='res_com' value='R' name="res_com" class="hiddenrel" />
        <input name="property_type" class="hiddenrel hide" id="property_type" type="text" required="true" nameinerr="Property Type" focus="property_type_wrap_a" customizederrclass="custErr" autocomplete="off">
    <div id = 'searchBg' style="width:990px;margin:0 auto;">
            <section id="search-bar-hp">
                <div class="tab-items">
                    <div class="search-tabs clearfix">
                        <a id='ResBuyTab' class="
                            sel  
                           relfm tabs" href="/property-real-estate-buy-rent-residential" callback='qsSrp.resdiv' data-track-args="BUY">Buy</a>
                        <a id='ResRentTab' href="tab=Rent" class="
                              tabs relfm" callback='qsSrp.rentdiv' data-track-args="RENT">Rent/ PG</a>
                        <a id='NpTab' href="javascript: void(0)" class="
                              tabs rel relfm" callback='qsSrp.npdiv' data-track-args="Projects">Projects</a>
                        <!--<a id='ComTab' href="/property-real-estate-buy-rent-commercial" class="
                              tabs relfm" callback="qsSrp.commrcldiv" data-track-args="Comm">Commercial</a>-->
                        <a id='DealerTab' href="javascript: void(0)" class="
                             tabs relfm" callback="qsSrp.dlrdiv" data-track-args="Dealers">Dealers</a>
                    </div>
                    <div class="shdw"></div>
                    <div id="search-fld-wraper">
                        
                          
                        <div id='tabSrchIpBtn' class='  boxsearch' style="vertical-align:top;">
                            <div class="ptype-input-wrap">
                                <div class="pList-wrap">
                                    <a  id="allrestype" class="relfm allrestype allresclk dropDown">
                                        <div style='width:100px' class="addPdElip">All Residential </div>
                                        <span class="lf allresid all10">
                                             <i class="aroowprop propgraydnar"></i>
                                        </span>
                                    </a>
                                    
                                <div id="s_property_type" class="projhitto seeroll propbudlstmnu barscrollnynsx poplstopn poplstdtp propop propTypvariant propflpcls" style="width:240px;top:100%;height:260px" active=true>
                                    <a id="propdil"  class="prnt prophdgot" openCls="projcls" activeTab="inactive"><i class="propicn unchecked"></i> Projects</a>                                                    
                                        <div class="child projcls" style="display:none;">
                                          <a  class="projprotyprad projdefv projchdpt" val='23'> <i class="propicn unchecked"></i>Residential Projects </a>
                                          <a  class="projprotyprad projchdpt" val='26'> <i class="propicn unchecked"></i>Commercial Projects</a>
                                        </div>
                                                                        <a id="resddli"  val='R' openCls="DCresOpen" class="prnt prophdgot" activeTab="active"><i class="propicn unchecked"></i> All Residential</a>
                                                    <div class="child initChecked DCresOpen">
                                                                                <a  class="prophdgtpot projchdpt" val='1'> <i class="propicn unchecked"></i>Residential Apartment </a>
                                                                            <a  class="prophdgtpot projchdpt" val='4'> <i class="propicn unchecked"></i>Independent/Builder Floor </a>
                                                                            <a  class="prophdgtpot projchdpt" val='2'> <i class="propicn unchecked"></i>Independent House/Villa </a>
                                                                            <a  class="prophdgtpot projchdpt" val='3'> <i class="propicn unchecked"></i>Residential Land </a>
                                                                            <a  class="prophdgtpot projchdpt" val='90'> <i class="propicn unchecked"></i>Studio Apartment </a>
                                                                            <a  class="prophdgtpot projchdpt" val='5'> <i class="propicn unchecked"></i>Farm House </a>
                                                                            <a  class="prophdgtpot projchdpt" val='22'> <i class="propicn unchecked"></i>Serviced Apartments </a>
                                                                            <a  class="prophdgtpot projchdpt" val='80'> <i class="propicn unchecked"></i>Other </a>
                                    </div>                                                <a id="comddli" val='C'  class="prnt DCopen prophdgot" openCls="DCcomOpen" activeTab="inactive"><i class="propicn unchecked"></i> All Commercial</a>
                                                    <div class="child DCcomOpen" style="display:none;">
                                                                                <a  class="prophdgtpot projchdpt" val='6'> <i class="propicn unchecked"></i>Commercial Shops </a>
                                                                            <a  class="prophdgtpot projchdpt" val='82'> <i class="propicn unchecked"></i>Commercial Showrooms </a>
                                                                            <a  class="prophdgtpot projchdpt" val='7'> <i class="propicn unchecked"></i>Commercial Office/Space </a>
                                                                            <a  class="prophdgtpot projchdpt" val='9'> <i class="propicn unchecked"></i>Commercial Land/Inst. Land </a>
                                                                            <a  class="prophdgtpot projchdpt" val='16'> <i class="propicn unchecked"></i>Industrial Lands/Plots </a>
                                                                            <a  class="prophdgtpot projchdpt" val='20'> <i class="propicn unchecked"></i>Agricultural/Farm Land </a>
                                                                            <a  class="prophdgtpot projchdpt" val='10'> <i class="propicn unchecked"></i>Hotel/Resorts </a>
                                                                            <a  class="prophdgtpot projchdpt" val='83'> <i class="propicn unchecked"></i>Guest-House/Banquet-Halls </a>
                                                                            <a  class="prophdgtpot projchdpt" val='11'> <i class="propicn unchecked"></i>Time Share </a>
                                                                            <a  class="prophdgtpot projchdpt" val='12'> <i class="propicn unchecked"></i>Space in Retail Mall </a>
                                                                            <a  class="prophdgtpot projchdpt" val='13'> <i class="propicn unchecked"></i>Office in Business Park </a>
                                                                            <a  class="prophdgtpot projchdpt" val='14'> <i class="propicn unchecked"></i>Office in IT Park </a>
                                                                            <a  class="prophdgtpot projchdpt" val='15'> <i class="propicn unchecked"></i>Ware House </a>
                                                                            <a  class="prophdgtpot projchdpt" val='17'> <i class="propicn unchecked"></i>Cold Storage </a>
                                                                            <a  class="prophdgtpot projchdpt" val='18'> <i class="propicn unchecked"></i>Factory </a>
                                                                            <a  class="prophdgtpot projchdpt" val='19'> <i class="propicn unchecked"></i>Manufacturing </a>
                                                                            <a  class="prophdgtpot projchdpt" val='21'> <i class="propicn unchecked"></i>Business center </a>
                                                                            <a  class="prophdgtpot projchdpt" val='81'> <i class="propicn unchecked"></i>Other </a>
                                                                        </div> 
                                </div>
                                <div id="np_op" class="propbudlstmnu poplstdtp propop poplstopn propTypvariant propflpcls" style="width:240px;top:43px;">
                                     <a id="Residential_op" val='23' name="res_com_rd" class="prnt"><i class="propicn radio-No"></i> Residential Projects</a>
                                        <div id="s_np_search_type_res" class="npOpts">
                                            <a id="propnewlaunch" val="NL" class="hiddenrel"><i class="propicn unchecked"></i> New launch</a>
                                            <a id="porpprojnew" val="NP" class="hiddenrel"><i class="propicn unchecked"></i> Under Construction</a>
                                            <a id="porpmove" val="R2M" class="hiddenrel"><i class="propicn unchecked"></i> Ready to move</a>
                                        </div>
                                     <a id="Commercial_op" name="res_com_rd" val='26' class="prnt"><i class="propicn radio-No"></i> Commercial Projects</a>
                                     <div id="s_np_search_type_com" class="npOpts">
                                            <a id="propnewlaunch" val="NL" class="hiddenrel"><i class="propicn unchecked"></i> New launch</a>
                                            <a id="porpprojnew" val="NP" class="hiddenrel"><i class="propicn unchecked"></i> Under Construction</a>
                                            <a id="porpmove" val="R2M" class="hiddenrel"><i class="propicn unchecked"></i> Ready to move</a>
                                     </div>
                                </div>  
                           </div>                  
                            <div class="suggestWrapWide relfm zhndle" id="suggesterCtx" style="vertical-align:top">
                                <input name = 'isvoicesearch' value = 'N' type="hidden">
                                <div id="SelectBox" class="suggest-keyword-Box " style="position:absolute;">
                                    <div class="bubblePack" >
                                        <span class="initBubble suggestion-tag-dummy hidei" style="display:none;"></span>
                                        <span class="bubbleCounter suggestion-tag-dummy hidei" style="display:none;"></span>
                                        <div class="wordbox lf">
                                                <input class="suggest-keyword-field hiddenrel" valtype="keyword" id="keyword" x-webkit-speech lang = "en_IN" oninput="autoSuggest();" name="keyword" placeholder="Type Location or Project/Society or Keyword" type="text" nameinerr="keyword"  customizedErrClass='custErr' autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="clr pd8"></div>
                                    <div id="suggestions_custom"></div>
                                </div>
                                <input type="hidden" id="keyword_suggest" data-text="" name="keyword_suggest" id="keyword_suggest"/>
                            </div>
                            <div class="comm-Box-dd rf" style="display:none;" id='opt_pref'>
                                <i class="propicn v-bar-Icon16 allresid"></i>
                                <a  class="comm-dd allresclk dropDown relfm">
                                    <i class="propsellmxd"></i><div class="clr-BLK">Buy</div>
                                    <i class="propicndrow propgraydnar"></i>
                                </a>    
                                <div id='preferenceDiv' class="propbudlst propbudlstmnu poplstopn propop propflpcls poplstdtp" style="width: 100px;">
                                    <div>
                                        <a class='DCprefopt DCprefRes DCprefCom' val='S'><i class="propicn radio-No"></i> Buy</a>
                                        <a class='DCprefopt DCprefRes' val='R'><i class="propicn radio-No"></i> Rent</a>
                                        <a class='DCprefopt DCprefRes' val='P'><i class="propicn radio-No"></i> P.G.</a>
                                        <a class='DCprefopt DCprefCom' val='L'><i class="propicn radio-No"></i> Lease</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                           <input type="submit" class="btn b blue f18 " id="submit_query" value="Search"  />
                                                      <button class="btn b green f18 " id="map_submit_query">Map Search</button>
                                               
                </div>
                                    </div>
                </div>
                            
                <div id="search-filter" class="slideClose" >
                    <div class="propitmftr lf" id="avail_wrap">
                        <input type="hidden" id="availability" name="availability" class="hidEle" autocomplete="off" value=""/>
                        
                        <div class="propboxmny" style=" white-space:nowrap;">
                            <a class="prptagmv allresclk dropDown relfm">
                                <i class="propsellmxd"></i><div class="allresid" id="underC">Construction Status</div>
                                <i class="propicndrow propgraydnar"></i>
                            </a>    
                            <div id="s_avail" class="propbudlstmnu poplstopn poplstdtp propop   propflpcls" style="width:160px;">
                                <div class="propbudlst">
                                        <a id="under_const" val="1" class="hiddenrel"><i class="propicn radio-No"></i> Under Construction</a>
                                        <a id="ready_move" val="2" class="hiddenrel"><i class="propicn radio-No"></i> Ready to move</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="propitmftr lf" id="np_search_type_wrap" style="display:none;">
                        <input type="hidden" id="np_search_type" name="np_search_type" class="hidEle" autocomplete="off"/>
                        <div class="propboxmny" style=" white-space:nowrap;">
                            <a class="prptagmv allresclk dropDown relfm">
                                <i class="propsellmxd"></i><div id="underC">Construction Status</div>
                                <i class="propicndrow propgraydnar"></i>
                            </a>    
                            <div id="s_np_search_type" class="propbudlstmnu poplstopn poplstdtp propop   propflpcls" style="width:160px;">
                                <div class="propbudlst">
                                    <a id="propnewlaunch" val="NL" class="hiddenrel"><i class="propicn unchecked"></i> New launch</a>
                                    <a id="porpprojnew" val="NP" class="hiddenrel"><i class="propicn unchecked"></i> Under Construction</a>
                                    <a id="porpmove" val="R2M" class="hiddenrel"><i class="propicn unchecked"></i> Ready to move</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="propitmftr lf" style="display:none;" id="rent_op_wrap">
                        <!--div class="head clearfix" style="display:inline-block;vertical-align: middle;margin: 5px 5px 0px 0px;">Search Type</div-->
                        <div id="rent_op" class="propboxmny" style="display:inline-block;vertical-align: middle;">
                            <a val='R' class="mr10"><i class="propicn radio-Yes"></i> Rent</a>
                            <a val='P' ><i class="propicn radio-No"></i> PG</a>
                        </div>
                    </div>
                    <div class="propitmftr lf" id="budget_wrap">
                        <div id="budget_sub_wrap" class="propboxmny">
                            <a class="prptagmv allresclk dropDown relfm" >
                                <i class="propsellmxd"></i><div class="proplableprice">Budget</div>
                                <i class="propicndrow propgraydnar"></i>
                            </a>
                            <div id="s_budget" class="propbudlstmnu poplstopn poplstdtp propop  proppricedrp propflpcls" >
                        <div class="combFI">
                        <div id="buy_budget_min_wrap" class="propboxmny">
                            <a class="prptagmv allresclk  relfm">
                                <i class="propsellmxd"></i><div class="propminh">Min</div>
                                <i class="propicndrow propgraydnar"></i>
                            </a>    
                            <div id="propsellbuybud" class="propbudlstmnu poplstopn  propop   " style="width:100%;">
                                <div class="seeroll barscrollnynsx propfvmr" style="height:200px" >
                                    <div class="propbudlst" id="buy_minprice">
                                        <a val='0'>Min</a>
                                        <a val="2">5 Lacs</a><a val="3">10 Lacs</a><a val="4">15 Lacs</a><a val="5">20 Lacs</a><a val="6">25 Lacs</a><a val="7">30 Lacs</a><a val="8">40 Lacs</a><a val="9">50 Lacs</a><a val="10">60 Lacs</a><a val="11">75 Lacs</a><a val="12">90 Lacs</a><a val="13">1 Crore</a><a val="14">1.5 Crores</a><a val="15">2 Crores</a><a val="16">3 Crores</a><a val="17">5 Crores</a><a val="18">10 Crores</a><a val="19">20 Crores</a><a val="20">30 Crores</a><a val="21">40 Crores</a><a val="22">50 Crores</a><a val="23">60 Crores</a><a val="24">70 Crores</a><a val="25">80 Crores</a><a val="26">90 Crores</a><a val="27">100 Crores</a><a val="28">100+ Crores</a>                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="rent_budget_min_wrap" class="propboxmny" style="display:none;">
                            <a class="prptagmv allresclk  relfm">
                                <i class="propsellmxd"></i><div class="budget_inner_title propminh">Min</div>
                                <i class="propicndrow propgraydnar"></i>
                            </a>    
                            <div id="propselrentbudm" class="propbudlstmnu poplstopn  propop  " style="width:100%;">
                                <div class="seeroll barscrollnynsx propfvmr" style="height:200px" >
                                    <div class="propbudlst" id="buy_minprice">
                                        <a val='0'>Min</a>
                                        <a val="100">< 5000</a><a val="101">5,000</a><a val="102">10,000</a><a val="103">15,000</a><a val="104">20,000</a><a val="105">25,000</a><a val="106">30,000</a><a val="107">40,000</a><a val="108">50,000</a><a val="109">60,000</a><a val="110">75,000</a><a val="111">90,000</a><a val="112">1 Lac</a><a val="113">1.5 Lacs</a><a val="114">2 Lacs</a><a val="115">5 Lacs</a><a val="116">10 Lacs</a><a val="117">10+ Lacs</a><a val="199">On Request</a>                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="propboxmny" id="buy_budget_max_wrap" style="margin-left:-3px">
                            <a class="prptagmv allresclk  relfm">
                                <i class="propsellmxd"></i><div>Max</div>
                                <i class="propicndrow propgraydnar"></i>
                            </a>    
                            <div id="s_buy_budget_max" class="propbudlstmnu poplstopn  propop   " style="margin-top:1px;width:100%;">
                                <div class="seeroll barscrollnynsx propfvmr" style="height:200px;">
                                    <div class="propbudlst" id="buy_maxprice">
                                        <a val='0'>Max</a>
                                        <a val="2">5 Lacs</a><a val="3">10 Lacs</a><a val="4">15 Lacs</a><a val="5">20 Lacs</a><a val="6">25 Lacs</a><a val="7">30 Lacs</a><a val="8">40 Lacs</a><a val="9">50 Lacs</a><a val="10">60 Lacs</a><a val="11">75 Lacs</a><a val="12">90 Lacs</a><a val="13">1 Crore</a><a val="14">1.5 Crores</a><a val="15">2 Crores</a><a val="16">3 Crores</a><a val="17">5 Crores</a><a val="18">10 Crores</a><a val="19">20 Crores</a><a val="20">30 Crores</a><a val="21">40 Crores</a><a val="22">50 Crores</a><a val="23">60 Crores</a><a val="24">70 Crores</a><a val="25">80 Crores</a><a val="26">90 Crores</a><a val="27">100 Crores</a><a val="28">100+ Crores</a>                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="propboxmny" id="rent_budget_max_wrap" style="display:none;margin-left: -3px;">
                            <a class="prptagmv allresclk  relfm">
                                <i class="propsellmxd"></i><div>Max</div>
                                <i class="propicndrow propgraydnar"></i>
                            </a>    
                            <div id="s_rent_budget_max" class="propbudlstmnu poplstopn  propop  " style="width:100%;  margin-top: 1px;">
                                <div class="seeroll barscrollnynsx propfvmr" style="height:200px;">
                                    <div class="propbudlst" id="buy_maxprice">
                                        <a val='0'>Max</a>
                                        <a val="100">< 5000</a><a val="101">5,000</a><a val="102">10,000</a><a val="103">15,000</a><a val="104">20,000</a><a val="105">25,000</a><a val="106">30,000</a><a val="107">40,000</a><a val="108">50,000</a><a val="109">60,000</a><a val="110">75,000</a><a val="111">90,000</a><a val="112">1 Lac</a><a val="113">1.5 Lacs</a><a val="114">2 Lacs</a><a val="115">5 Lacs</a><a val="116">10 Lacs</a><a val="117">10+ Lacs</a><a val="199">On Request</a>                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="propitmftr lf" id="available_for_wrap" style="display:none;">
                        <div class="propboxmny" style=" white-space:nowrap;">
                            <a class="prptagmv allresclk dropDown relfm">
                                <i class="propsellmxd"></i><div id="proplblav">Available for</div>
                                <i class="propicndrow propgraydnar"></i>
                            </a>    
                            <div id="s_available_for" class="propbudlstmnu poplstopn poplstdtp propop   propflpcls" style="width:160px;">
                                <div class="propbudlst">
                                    <a id="forGirls" val="G" class="hiddenrel"><i class="propicn unchecked"></i> Girls</a>
                                    <a id="forBoys" val="B" class="hiddenrel"><i class="propicn unchecked"></i> Boys</a>
                                </div>
                            </div>
                        </div>
                    </div>
                                        <div class="propitmftr bedroom lf" id='proplroomnum'>
                                                    <input name="proplroomnumcunt" id="proplroomnumcunt" class='hiddenrel' type="hidden"/>

                        <div class="propboxmny">
                            <a class="prptagmv allresclk dropDown relfm"><i class="propsellmxd"></i><div>Bedroom</div><i class="propicndrow propgraydnar"></i></a>
                            <div class="propbudlstmnu poplstopn poplstdtp propop   propflpcls" id='s_proplroomnumcunt' style="width:110px;">
                                <div class="seeroll barscrollnynsx scrollbar98 propfvmr" style="height:200px">
                                    <div class="propbudlst">
                                        <a  class="hiddenrel" val="0">Any</a>
                                        <a  class="hiddenrel" val="1" id="bd_1" ><i class="propicn unchecked"></i>1 BHK </a><a  class="hiddenrel" val="2" id="bd_2" ><i class="propicn unchecked"></i>2 BHK </a><a  class="hiddenrel" val="3" id="bd_3" ><i class="propicn unchecked"></i>3 BHK </a><a  class="hiddenrel" val="4" id="bd_4" ><i class="propicn unchecked"></i>4 BHK </a><a  class="hiddenrel" val="5" id="bd_5" ><i class="propicn unchecked"></i>5 BHK </a><a  class="hiddenrel" val="6" id="bd_6" ><i class="propicn unchecked"></i>6 BHK </a><a  class="hiddenrel" val="7" id="bd_7" ><i class="propicn unchecked"></i>7 BHK </a><a  class="hiddenrel" val="8" id="bd_8" ><i class="propicn unchecked"></i>8 BHK </a><a  class="hiddenrel" val="9" id="bd_9" ><i class="propicn unchecked"></i>9 BHK </a><a  class="hiddenrel" val="10" id="bd_10" ><i class="propicn unchecked"></i>9+ BHK </a>                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="propitmftr lf" id="posted_by_wrap">
                      
                        <div class="propboxmny">
                            <a class="prptagmv allresclk dropDown relfm">
                                <i class="propsellmxd"></i><div class="allresid">Posted By</div>
                                <i class="propicndrow propgraydnar"></i>
                            </a>    
                            <div id="s_class" class="propbudlstmnu poplstopn propflpcls propop poplstdtp" style="width:100%;display:block;">
                                <div class="propbudlst">
                                        <a value="O" id="p_o" class="hiddenrel"><i class="propicn unchecked"></i> Owner</a>
                                        <a value="B" id="p_b" class="hiddenrel"><i class="propicn unchecked"></i> Builder</a>
                                        <a value="A" id="p_a" class="hiddenrel"><i class="propicn unchecked"></i> Dealer</a>
                                </div>
                            </div>
                        </div>
                        <input name="class" class="hiddenrel hide" id="class" type="text" value='O,B,A'/>
                    </div>
                    <div class="propitmftr lf" style="display:none;" id="rent_op_wrap">
                        <div class="head clearfix" style="display:inline-block;vertical-align: middle;margin: 5px 5px 0px 0px;">Search Type</div>
                        <div id="rent_op" class="propboxmny" style="display:inline-block;vertical-align: middle;">
                            <a val='R' class="mr10"><i class="propicn radio-Yes"></i> Rent</a>
                            <a val='P' ><i class="propicn radio-No"></i> PG</a>
                        </div>
                    </div>
                    <div class="propitmftr proparefx lf" id='propareawp' style="display:none;">
                    
                        <div class="propboxmny">
                            <a  class="prptagmv allresclk dropDown relfm" >
                                <div id='area_lbl' class="addPdElip" >Area</div>
                                <i class="propicndrow propgraydnar aroowprop"></i>
                            </a>
                            <div class="propbudlstmnu nested1 poplstopn poplstdtp propop   propflpcls"  id='s_area' htmlgrp='area' style="width:285px;">
                                <div class="propareamxn">
                                    <input type="text" class="ani hiddenrel" valtype='srchArea' placeholder="Min" id='propmnarea' name='propmnarea' nameinerr="Min Area"  customizedErrClass='custErr'/>
                                </div>
                                -
                                <div class="propareamxn">
                                    <input type="text" class="ani hiddenrel" valtype='srchArea' placeholder="Max" id='propmxarea' name='propmxarea' nameinerr="Max Area"  customizedErrClass='custErr'>
                                </div>
                                <div id='area_unit_wrap' class="propboxmny ml_5">
                                    <a class="prptagmv inner-prptagmv propmare dropDown relfm" htmlgrp='area'>
                                        <i class="propsellmxd"></i><div class="fwn">Sq.Ft.</div>
                                        <i class="propicn propicndrow"></i>
                                    </a>    
                                    <div id="s_area_unit" class="poplstdtp propop   propbudlstmnu nested poplstopn1 propflpcls" >
                                        <div class="propbudlst">
                                            <div class="seeroll barscrollnynsx propfvmr" style="height:200px">
                                                <a val="1">Sq.Ft.</a><a val="2">Sq. Yards</a><a val="3">Sq. Meter</a><a val="12">Acres</a><a val="16">Marla</a><a val="19">Cents</a><a val="13">Bigha</a><a val="14">Kottah</a><a val="17">Kanal</a><a val="4">Grounds</a><a val="10">Ares</a><a val="11">Biswa</a><a val="9">Guntha</a><a val="5">Aankadam</a><a val="15">Hectares</a><a val="6">Rood</a><a val="7">Chataks</a><a val="8">Perch</a>                                            </div>
                                        </div>
                                    </div>
                                    <input type ="hidden" class="hiddenrel" name="area_unit" id="area_unit" value='1'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rf " id="propclr" style="margin:6px 10px 0px 0px" >
                        <a  id="clrAl" class="clearall">clear all</a>
                    </div>
                </div>
                <div class="clr"></div>
            </section>
        </div>
    </form> 
</section>
<input type='hidden' id="prop-hometab" value="1">
<input type='hidden' id="prop-srchky" value="">
<input type='hidden' id="prop-clktb" value="">
<input type="hidden" id="prop-slcity-top" value="0">
<input type="hidden" id="refresh_zedo_cookie" value="" >
<input type="hidden" id="propstesrch" value="">
<input type="hidden" id="propctifmcke" value="">
<div class="clr">
 
<div class="prop-container-slide">
    <div class="prop-slide">
        <ul></ul>
    </div>
</div>

</div>
</div>




	<script type='text/javascript' src="{% static 'js/jquery-min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/a.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/home.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/jquery.js' %}"> </script>
	



 



</body>
</html>
